body {
	display: flex;
	background: #001eeb;
}

.top {
	z-index: 2;
	color: white;
	position: fixed;
	left: 70px;
	top: 70px;
	font-family: 'Work Sans', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
}

.right {
	z-index: 2;
	color: white;
	font-size: 70px;
	position: fixed;
    	right: 70px;
	bottom: 70px;
	font-family: 'Gelasio', serif;
}

h2:hover {
	text-decoration: underline;
}

h2 {
	margin: 0px;
}
