body {
	display: flex;
	background: #001eeb;
}

.top {
	z-index: 2;
	color: white;
	position: fixed;
	left: 100px;
	top: 100px;
	font-family: 'Work Sans', sans-serif;
}

.emblem {
	margin: 0 auto;
	width: 400px;
	height: 400px;
	border-radius: 50%;
	animation: spinZ 20s linear infinite;
	text-align: center;

	span {
		position: absolute;
		display: inline-block;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-transform: uppercase;
		font-size: 3.5em;
		transition: all .8s cubic-bezier(0,0,0,1);
	}

	@keyframes spinZ {
		0% {
			transform: rotateZ(360deg);
		}
		100% {
			transform: rotateZ(0deg);
		}
	}
}

.right {
	z-index: 2;
	color: white;
	font-size: 8rem;
	position: fixed;
    right: 100px;
	bottom: 100px;
	line-height: 10rem;
	font-family: 'Gelasio', serif;
}

h2:hover {
	text-decoration: underline;
}
